name: Assign Pull Request

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  assign:
    runs-on: ubuntu-latest

    steps:
    - name: Assign PR
      env:
        ASSIGN_TO: ${{ github.repository_owner }} 
      run: |
        owner=${{ github.repository_owner }}
          repo=${{ github.event.repository.name }}
          issue_number=${{ github.event.number }}
          desired_username=${ASSIGN_TO}
          gh api -X PATCH "/repos/$owner/$repo/issues/$issue_number/assignees" -f assignees="$desired_username"
